<!-- Footer -->
<footer class="flex-shrink-0 flex items-center justify-between border-t bg-white p-4 dark:border-primary-darker dark:bg-darker">
   <div x-data class="text-sm font-semibold text-gray-600 dark:text-gray-400">
            &copy;<span x-text="new Date().getFullYear()"></span>
            K-WD, All rights reserved
    </div>
    
    <div>
        Made by
        <a href="https://github.com/Kamona-WD" target="_blank" class="text-blue-500 hover:underline">Ahmed Kamel</a>
    </div>
</footer>
