<!-- Navbar -->
<div class="sticky top-0 z-10 flex-shrink-0 bg-white dark:bg-darker">
    <div class="flex items-center justify-between border-b px-4 py-2 dark:border-primary-darker">
        <div class="flex items-center gap-2">
            <!-- Sidebar button -->
            <button
                @click="isSidebarOpen = !isSidebarOpen"
                class="hidden items-center justify-center rounded-md bg-primary-50 p-1 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:outline-none focus:ring dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light lg:inline-flex"
            >
                <span class="sr-only">Toggle sidebar</span>

                <span
                    aria-hidden="true"
                    class="iconify h-8 w-8 transition-transform tabler--chevron-left"
                    :class="{ '-rotate-180': !isSidebarOpen }"
                ></span>
            </button>

            <!-- Mobile menu button -->
            <button
                @click="isMobileMainMenuOpen = !isMobileMainMenuOpen"
                class="inline-flex items-center justify-center rounded-md bg-primary-50 p-1 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:outline-none focus:ring dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light lg:hidden"
            >
                <span class="sr-only">Open main manu</span>

                <span aria-hidden="true" class="iconify h-8 w-8 tabler--menu-2"></span>
            </button>

            <!-- Brand -->
            <a
                href="/"
                class="inline-block text-2xl font-bold uppercase tracking-wider text-primary-dark dark:text-light"
            >
                K-WD
            </a>
        </div>

        <!-- Mobile sub menu button -->
        <button
            @click="isMobileSubMenuOpen = !isMobileSubMenuOpen"
            class="inline-flex items-center justify-center rounded-md bg-primary-50 p-1 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:outline-none focus:ring dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light md:hidden"
        >
            <span class="sr-only">Open sub manu</span>
            <span aria-hidden="true" class="iconify h-8 w-8 tabler--dots-vertical"></span>
        </button>

        <nav aria-label="Secondary" class="hidden space-x-2 md:flex md:items-center">
            <!-- Toggle dark theme button -->
            <button
                aria-hidden="true"
                class="relative focus:outline-none"
                x-cloak
                @click="$store.settings.darkMode.toggle()"
            >
                <div class="h-6 w-12 rounded-full bg-primary-100 outline-none transition dark:bg-primary-lighter"></div>
                <div
                    class="absolute left-0 top-0 inline-flex h-6 w-6 scale-110 transform items-center justify-center rounded-full shadow-sm transition-all duration-150"
                    :class="{ 'translate-x-0 -translate-y-px  bg-white text-primary-dark': !$store.settings.darkMode.value, 'translate-x-6 text-primary-100 bg-primary-darker': $store.settings.darkMode.value }"
                >
                    <span
                        aria-hidden="true"
                        x-show="!$store.settings.darkMode.value"
                        class="iconify h-4 w-4 tabler--moon"
                    ></span>
                    <span
                        aria-hidden="true"
                        x-show="$store.settings.darkMode.value"
                        class="iconify h-4 w-4 tabler--sun"
                    ></span>
                </div>
            </button>

            <!-- Notification button -->
            <button
                @click="openNotificationsPanel"
                class="inline-flex items-center justify-center rounded-full bg-primary-50 p-2 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:bg-primary-100 focus:outline-none focus:ring-primary-darker dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light dark:focus:bg-primary-dark"
            >
                <span class="sr-only">Open Notification panel</span>
                <span aria-hidden="true" class="iconify h-7 w-7 tabler--bell"></span>
            </button>

            <!-- Search button -->
            <button
                @click="openSearchPanel"
                class="inline-flex items-center justify-center rounded-full bg-primary-50 p-2 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:bg-primary-100 focus:outline-none focus:ring-primary-darker dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light dark:focus:bg-primary-dark"
            >
                <span class="sr-only">Open search panel</span>
                <span aria-hidden="true" class="iconify h-7 w-7 tabler--search"></span>
            </button>

            <!-- Settings button -->
            <button
                @click="$store.settings.panel.open()"
                class="inline-flex items-center justify-center rounded-full bg-primary-50 p-2 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:bg-primary-100 focus:outline-none focus:ring-primary-darker dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light dark:focus:bg-primary-dark"
            >
                <span class="sr-only">Open settings panel</span>
                <span aria-hidden="true" class="iconify h-7 w-7 tabler--settings"></span>
            </button>

            <!-- User avatar button -->
            <div class="relative" x-data="{ open: false }">
                <button
                    @click="open = !open; $nextTick(() => { if(open){ $refs.userMenu.focus() } })"
                    type="button"
                    aria-haspopup="true"
                    :aria-expanded="open ? 'true' : 'false'"
                    class="rounded-full transition-opacity duration-200 focus:outline-none focus:ring dark:opacity-75 dark:hover:opacity-100 dark:focus:opacity-100"
                >
                    <span class="sr-only">User menu</span>
                    <img class="h-10 w-10 rounded-full" src="/images/avatar.jpg" alt="User avatar" />
                </button>

                <!-- User dropdown menu -->
                <div
                    x-show="open"
                    x-ref="userMenu"
                    x-transition:enter="transition-all transform ease-out"
                    x-transition:enter-start="translate-y-1/2 opacity-0"
                    x-transition:enter-end="translate-y-0 opacity-100"
                    x-transition:leave="transition-all transform ease-in"
                    x-transition:leave-start="translate-y-0 opacity-100"
                    x-transition:leave-end="translate-y-1/2 opacity-0"
                    @click.away="open = false"
                    @keydown.escape="open = false"
                    class="absolute right-0 top-12 w-48 rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-dark"
                    tabindex="-1"
                    role="menu"
                    aria-orientation="vertical"
                    aria-label="User menu"
                >
                    <a
                        href="#"
                        role="menuitem"
                        class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    >
                        Your Profile
                    </a>
                    <a
                        href="#"
                        role="menuitem"
                        class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    >
                        Settings
                    </a>
                    <a
                        href="#"
                        role="menuitem"
                        class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    >
                        Logout
                    </a>
                </div>
            </div>
        </nav>

        <!-- Mobile sub menu -->
        <nav
            x-transition:enter="transition duration-200 ease-in-out transform sm:duration-500"
            x-transition:enter-start="-translate-y-full opacity-0"
            x-transition:enter-end="translate-y-0 opacity-100"
            x-transition:leave="transition duration-300 ease-in-out transform sm:duration-500"
            x-transition:leave-start="translate-y-0 opacity-100"
            x-transition:leave-end="-translate-y-full opacity-0"
            x-show="isMobileSubMenuOpen"
            @click.away="isMobileSubMenuOpen = false"
            class="absolute inset-x-4 top-16 flex items-center rounded-md bg-white p-4 shadow-lg dark:bg-darker md:hidden"
            aria-label="Secondary"
        >
            <div class="space-x-2">
                <!-- Toggle dark theme button -->
                <button
                    aria-hidden="true"
                    class="relative focus:outline-none"
                    x-cloak
                    @click="$store.settings.darkMode.toggle()"
                >
                    <div
                        class="h-6 w-12 rounded-full bg-primary-100 outline-none transition dark:bg-primary-lighter"
                    ></div>
                    <div
                        class="absolute left-0 top-0 inline-flex h-6 w-6 scale-110 transform items-center justify-center rounded-full shadow-sm transition-all duration-200"
                        :class="{ 'translate-x-0 -translate-y-px  bg-white text-primary-dark': !$store.settings.darkMode.value, 'translate-x-6 text-primary-100 bg-primary-darker': $store.settings.darkMode.value }"
                    >
                        <span
                            aria-hidden="true"
                            x-show="!$store.settings.darkMode.value"
                            class="iconify h-4 w-4 tabler--moon"
                        ></span>
                        <span
                            aria-hidden="true"
                            x-show="$store.settings.darkMode.value"
                            class="iconify h-4 w-4 tabler--sun"
                        ></span>
                    </div>
                </button>

                <!-- Notification button -->
                <button
                    @click="openNotificationsPanel(); $nextTick(() => { isMobileSubMenuOpen = false })"
                    class="inline-flex items-center justify-center rounded-full bg-primary-50 p-2 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:bg-primary-100 focus:outline-none focus:ring-primary-darker dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light dark:focus:bg-primary-dark"
                >
                    <span class="sr-only">Open notifications panel</span>
                    <span aria-hidden="true" class="iconify h-7 w-7 tabler--bell"></span>
                </button>

                <!-- Search button -->
                <button
                    @click="openSearchPanel(); $nextTick(() => { $refs.searchInput.focus(); setTimeout(() => {isMobileSubMenuOpen= false}, 100) })"
                    class="inline-flex items-center justify-center rounded-full bg-primary-50 p-2 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:bg-primary-100 focus:outline-none focus:ring-primary-darker dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light dark:focus:bg-primary-dark"
                >
                    <span class="sr-only">Open search panel</span>
                    <span aria-hidden="true" class="iconify h-7 w-7 tabler--search"></span>
                </button>

                <!-- Settings button -->
                <button
                    @click="$store.settings.panel.open(); $nextTick(() => { isMobileSubMenuOpen = false })"
                    class="inline-flex items-center justify-center rounded-full bg-primary-50 p-2 text-primary-lighter transition-colors duration-200 hover:bg-primary-100 hover:text-primary focus:bg-primary-100 focus:outline-none focus:ring-primary-darker dark:bg-dark dark:hover:bg-primary-dark dark:hover:text-light dark:focus:bg-primary-dark"
                >
                    <span class="sr-only">Open settings panel</span>
                    <span aria-hidden="true" class="iconify h-7 w-7 tabler--settings"></span>
                </button>
            </div>

            <!-- User avatar button -->
            <div class="relative ml-auto" x-data="{ open: false }">
                <button
                    @click="open = !open"
                    type="button"
                    aria-haspopup="true"
                    :aria-expanded="open ? 'true' : 'false'"
                    class="block rounded-full transition-opacity duration-200 focus:outline-none focus:ring dark:opacity-75 dark:hover:opacity-100 dark:focus:opacity-100"
                >
                    <span class="sr-only">User menu</span>
                    <img class="h-10 w-10 rounded-full" src="/images/avatar.jpg" alt="Ahmed Kamel" />
                </button>

                <!-- User dropdown menu -->
                <div
                    x-show="open"
                    x-transition:enter="transition-all transform ease-out"
                    x-transition:enter-start="translate-y-1/2 opacity-0"
                    x-transition:enter-end="translate-y-0 opacity-100"
                    x-transition:leave="transition-all transform ease-in"
                    x-transition:leave-start="translate-y-0 opacity-100"
                    x-transition:leave-end="translate-y-1/2 opacity-0"
                    @click.away="open = false"
                    class="absolute right-0 top-12 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-dark"
                    role="menu"
                    aria-orientation="vertical"
                    aria-label="User menu"
                >
                    <a
                        href="#"
                        role="menuitem"
                        class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    >
                        Your Profile
                    </a>
                    <a
                        href="#"
                        role="menuitem"
                        class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    >
                        Settings
                    </a>
                    <a
                        href="#"
                        role="menuitem"
                        class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    >
                        Logout
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Mobile main manu -->
    <div
        class="border-b dark:border-primary-darker lg:hidden"
        x-show="isMobileMainMenuOpen"
        @click.away="isMobileMainMenuOpen = false"
        x-collapse
    >
        <nav aria-label="Main" class="space-y-2 px-2 py-4">
            {{> partials/navigation-links }}
        </nav>
    </div>
</div>
