<h2 class="text-2xl font-semibold">{{ title }}</h2>

{{#btn 
    href="https://github.com/Kamona-WD/kwd-dashboard" 
    text="View on github" 
    variant="black" 
    startIcon="tabler--brand-github"
    attrs='target="_blank"'

}}{{/btn}}
