<!-- Sidebar -->
<aside
    class="sticky top-0 hidden h-screen w-64 flex-shrink-0 border-r bg-white dark:border-primary-darker dark:bg-darker md:block"
>
    <div class="flex h-full flex-col">
        <!-- Sidebar links -->
        <nav aria-label="Main" class="flex-1 space-y-2 overflow-y-hidden px-2 py-4 hover:overflow-y-auto">
            {{> partials/navigation-links }}
        </nav>

        <!-- Sidebar footer -->
        <div class="flex-shrink-0 px-2 py-4">
            {{#btn text="Customize" startIcon="tabler--adjustments" classes="w-full"}}{{/btn}}
        </div>
    </div>
</aside>
