{{#> partials/panels/base 
    title="Settings panel" 
    pos="right" 
    show="$store.settings.panel.isOpen" 
    close="$store.settings.panel.close()" 
    ref="settingsPanel"
}}
<!-- Panel header -->
<div
    class="flex flex-shrink-0 flex-col items-center justify-center space-y-4 border-b px-4 py-8 dark:border-primary-dark"
>
    <span aria-hidden="true" class="iconify h-8 w-8 text-gray-500 tabler--adjustments dark:text-primary"></span>

    <h2 id="settinsPanelLabel" class="text-xl font-medium text-gray-500 dark:text-light">Settings</h2>
</div>

<!-- Content -->
<div class="flex-1 overflow-hidden hover:overflow-y-auto">
    <!-- Theme -->
    <div class="space-y-4 p-4 md:p-8">
        <h6 class="text-lg font-medium text-gray-400 dark:text-light">Mode</h6>
        <div class="flex items-center space-x-8">
            <!-- Light button -->
            <button
                @click="$store.settings.darkMode.setValue(false)"
                class="flex items-center justify-center space-x-4 rounded-md border px-4 py-2 transition-colors hover:border-gray-900 hover:text-gray-900 focus:outline-none focus:ring focus:ring-primary-lighter focus:ring-offset-2 dark:border-primary dark:hover:border-primary-light dark:hover:text-primary-100 dark:focus:ring-primary-dark dark:focus:ring-offset-dark"
                :class="{ 'border-gray-900 text-gray-900 dark:border-primary-light dark:text-primary-100': !$store.settings.darkMode.value, 'text-gray-500 dark:text-primary-light': $store.settings.darkMode.value }"
            >
                <span aria-hidden="true" class="iconify h-6 w-6 tabler--sun"></span>

                <span>Light</span>
            </button>

            <!-- Dark button -->
            <button
                @click="$store.settings.darkMode.setValue(true)"
                class="flex items-center justify-center space-x-4 rounded-md border px-4 py-2 transition-colors hover:border-gray-900 hover:text-gray-900 focus:outline-none focus:ring focus:ring-primary-lighter focus:ring-offset-2 dark:border-primary dark:hover:border-primary-light dark:hover:text-primary-100 dark:focus:ring-primary-dark dark:focus:ring-offset-dark"
                :class="{ 'border-gray-900 text-gray-900 dark:border-primary-light dark:text-primary-100': $store.settings.darkMode.value, 'text-gray-500 dark:text-primary-light': !$store.settings.darkMode.value }"
            >
                <span aria-hidden="true" class="iconify h-6 w-6 tabler--moon"></span>

                <span>Dark</span>
            </button>
        </div>
    </div>

    <!-- Colors -->
    <div class="space-y-4 p-4 md:p-8">
        <h6 class="text-lg font-medium text-gray-400 dark:text-light">Colors</h6>

        <div class="flex items-center gap-2">
            <template x-for="c in $store.settings.colors.availableColors">
                <button
                    x-key="c"
                    @click="$store.settings.colors.setColor(c)"
                    class="h-10 w-10 rounded-full"
                    :style="{backgroundColor: `var(--color-${c})`}"
                ></button>
            </template>
        </div>
    </div>
</div>
{{/partials/panels/base }}
