{% from 'components/icons/svg.njk' import svgIcon %}

{% macro chevronDownIcon(classes = '', attrs = '', conditionalClasses = '') %}
    {% call svgIcon(classes = classes, attrs = attrs, conditionalClasses = conditionalClasses) %}
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
        />
    {% endcall %}    
{% endmacro %}