{% from 'components/icons/svg.njk' import svgIcon %}

{% macro menuIcon(classes = '', attrs = '', conditionalClasses = '') %}
    {% call svgIcon(classes = classes, attrs = attrs, conditionalClasses = conditionalClasses) %}
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
        />
    {% endcall %}    
{% endmacro %}