<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="K-WD - clean and simple Dashboard template." />
    <meta name="keywords" content="admin, dashboard, template, tailwindcss, alpinejs, vuejs, html, clean" />
    <meta name="author" content="Ahmed Kamel" />
    <link rel="icon" href="./src/assets/images/favicon.ico" />
    <title>K-WD Dashboard Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
