{% comment %} {% from "components/icon-button.njk" import iconButton %} {% from
"components/icons/dots-vertical-icon.njk" import dotsVerticalIcon %} {% from "components/icons/menu-icon.njk" import
menuIcon %} {% endcomment %}

<!-- Mobile bottom navbar -->
<div
  class="fixed inset-x-0 bottom-0 z-10 flex items-center justify-between px-4 py-2 transition-transform duration-500 bg-white border-t border-t-gray-300 md:hidden dark:bg-gray-900 dark:border-t-gray-700"
  :class="{ 'translate-y-full': scrollingDown, 'translate-y-0': scrollingUp }"
>
  <!-- Search button -->
  {% render 'components/icon-button', type: 'button', text: 'Open search panel', iconClass: 'bx-search', iconSize: 'sm' %}


  <a href="index.html" class="inline-block text-2xl font-bold tracking-wider text-purple-500 uppercase"> K-WD </a>

  <!-- Sidebar button -->
  {% comment %} {% call iconButton(text='Open sidebar', alpineExpresion = '@click="isSidebarOpen = !isSidebarOpen"') %}
  {{ menuIcon(classes = 'w-6 h-6') }}
  {% endcall %} {% endcomment %}
  {% render 'components/icon-button', type: 'button', text: 'Open sidebar', iconClass: 'bx-menu', iconSize: 'sm', attrs: '@click="isSidebarOpen = !isSidebarOpen"' %}

</div>
