{% from "components/icon-button.njk" import iconButton %}
{% from "components/icons/menu-icon.njk" import menuIcon %}
{% from "components/icons/moon-icon.njk" import moonIcon %}
{% from "components/icons/sun-icon.njk" import sunIcon %}
{% from "components/icons/bell-icon.njk" import bellIcon %}
{% from "components/icons/search-icon.njk" import searchIcon %}
{% from "components/icons/cog-icon.njk" import cogIcon %}

<header
    class="hidden sticky top-0 z-[5] md:flex items-center justify-between flex-shrink-0 h-full px-2 transition-transform duration-500 bg-white border-b border-b-gray-300 dark:border-b-gray-700 sm:px-4 max-h-14 dark:bg-gray-900"
    :class="{ '-translate-y-full': scrollingDown, '-translate-y-0': scrollingUp }"
>
    <div class="flex items-center">
        <!-- Sidebar button -->
        {% call iconButton(text='Open sidebar', alpineExpresion = '@click="isSidebarOpen = !isSidebarOpen"') %}
            {{ menuIcon(classes = 'w-6 h-6') }}
        {% endcall %}
    </div>

    <nav aria-label="Secondary" class="flex items-center space-x-2">
        <!-- Toggle dark mode button -->
        {% call iconButton(text='Toggle dark mode', alpineExpresion = '@click="toggleTheme"') %}
            {{ moonIcon(classes = 'w-6 h-6', attrs = 'x-show="!isDark"') }}
            {{ sunIcon(classes = 'w-6 h-6', attrs = 'x-show="isDark"') }}
        {% endcall %}

        {% call iconButton() %}
            {{ searchIcon(classes = 'w-6 h-6') }}
        {% endcall %}

        {% call iconButton() %}
            {{ bellIcon(classes = 'w-6 h-6') }}
        {% endcall %}

        {% call iconButton() %}
            {{ cogIcon(classes = 'w-6 h-6') }}
        {% endcall %}
        
        <button
            type="button"
            aria-haspopup="true"
            class="transition-opacity duration-200 rounded-full hover:opacity-80 dark:opacity-75 dark:hover:opacity-100 focus:outline-none focus:ring dark:focus:opacity-100"
        >
            <span class="sr-only">User menu</span>
            <img class="w-10 h-10 rounded-full" src="https://avatars.githubusercontent.com/u/57622665?v=4" alt="Ahmed Kamel" />
        </button>
    </nav>
</header>

<!-- Mobile sub menu -->
<nav 
    x-transition:enter="transition-all"
    x-transition:enter-start="opacity-0 -translate-y-full"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition-all"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 -translate-y-full"
    x-show="isMobileSubMenuOpen" 
    @click.outside="isMobileSubMenuOpen = false" 
    aria-label="Secondary" 
    class="fixed z-40 flex items-center justify-between p-2 bg-white rounded-md shadow-lg md:hidden dark:bg-gray-900 top-6 inset-x-4">
    <div>
        <!-- Toggle dark mode button -->
        {% call iconButton(text='Toggle dark mode', alpineExpresion = '@click="toggleTheme"') %}
            {{ moonIcon(classes = 'w-6 h-6', attrs = 'x-show="!isDark"') }}
            {{ sunIcon(classes = 'w-6 h-6', attrs = 'x-show="isDark"') }}
        {% endcall %}

        {% call iconButton() %}
            {{ searchIcon(classes = 'w-6 h-6') }}
        {% endcall %}

        {% call iconButton() %}
            {{ bellIcon(classes = 'w-6 h-6') }}
        {% endcall %}

        {% call iconButton() %}
            {{ cogIcon(classes = 'w-6 h-6') }}
        {% endcall %}
    </div>
    
    <button
        type="button"
        aria-haspopup="true"
        class="transition-opacity duration-200 rounded-full hover:opacity-80 dark:opacity-75 dark:hover:opacity-100 focus:outline-none focus:ring dark:focus:opacity-100"
    >
        <span class="sr-only">User menu</span>
        <img class="w-10 h-10 rounded-full" src="https://avatars.githubusercontent.com/u/57622665?v=4" alt="Ahmed Kamel" />
    </button>
</nav>

