{% layout "layouts/main" %}

{% block content %}
  <div class="p-6">
    <h1 class="text-3xl">K-WD dashboard (html version)</h1>
    <h1 class="text-3xl">WIP</h1>
    <div class="h-[2000px]"></div>
  </div>
{% endblock %}
