{% extends "layouts/main.njk" %}

{# {% set pageTitle = 'Home' %} #}

{% block content %}
    <div class="p-6">
        <h1 class="text-3xl">K-WD dashboard (html version)</h1>
    </div>
{% endblock %}