@layout('layouts/app')

@set('pageTitle', 'K-WD Dashboard | Blank Page')
@set('nested', '../')


@section('content')
    <main>
        <h1 class="text-3xl font-semibold">Page content</h1>
    </main>
@end