{{#> layouts/base activeLink=activeLink pageTitle=pageTitle group=group}}

<div class="flex min-h-screen">
    {{> partials/sidebar activeLink=activeLink group=group }}

    <div class="flex flex-1 flex-col">
        {{> partials/navbar }}

        <!-- Page header -->
        <header class="flex flex-shrink-0 items-center justify-between border-b p-4 dark:border-primary-darker">
            {{> header }}
        </header>

        <!-- Main content -->
        <main class="flex-1">
            <!-- Content -->
            {{> @partial-block }}
        </main>

        {{> partials/footer }}
    </div>

    <!-- Panels -->

    <!-- Settings Panel -->
    {{> partials/panels/settings }}

    <!-- Notification panel -->
    {{> partials/panels/notifications }}

    <!-- Search panel -->
    {{> partials/panels/search }}
</div>

{{/layouts/base}}
