<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="description" content="Admin dashboard template built with tailwindcss and alpinejs." />
        <meta name="keywords" content="Admin, Dashboard, Template, HTML, CSS, JavaScript, Tailwindcss, Alpinejs" />
        <meta name="author" content="Ahmed Kamel" />

        <title>{{ title }} {{#if pageTitle}} | {{ pageTitle }} {{/if}}</title>

        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
            rel="stylesheet"
        />

        <style>
            [x-cloak] {
                display: none;
            }
        </style>

        <link rel="stylesheet" href="{{ resolve-from-root '../css/main.css' }}" />

        {{> styles}}
    </head>
    <body class="font-sans antialiased">
        <div
            x-data="setup()"
            x-init="$refs.loading.classList.add('hidden'); setColors(color);"
            :class="{ 'dark': isDark }"
        >
            <div class="flex h-screen bg-gray-100 text-gray-900 antialiased dark:bg-dark dark:text-light">
                {{> partials/loading-screen }}

                {{> partials/sidebar }}

                <div class="h-full flex-1 flex flex-col">
                    {{> partials/navbar }}

                    <!-- Page header -->
                    <header
                        class="flex-shrink-0 flex items-center justify-between border-b px-4 py-4 dark:border-primary-darker lg:py-6"
                    >
                        {{> header }}
                    </header>

                    <!-- Main content -->
                    <main class="flex-1">
                        <!-- Content -->
                        {{> @partial-block }}
                    </main>

                    {{> partials/footer }}
                </div>

                <!-- Panels -->

                <!-- Settings Panel -->
                <!-- Backdrop -->
                <div
                    x-transition:enter="transition duration-300 ease-in-out"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="transition duration-300 ease-in-out"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    x-show="isSettingsPanelOpen"
                    @click="isSettingsPanelOpen = false"
                    class="fixed inset-0 z-10 bg-primary-darker"
                    style="opacity: 0.5"
                    aria-hidden="true"
                ></div>
                <!-- Panel -->
                <section
                    x-transition:enter="transition duration-300 ease-in-out transform sm:duration-500"
                    x-transition:enter-start="translate-x-full"
                    x-transition:enter-end="translate-x-0"
                    x-transition:leave="transition duration-300 ease-in-out transform sm:duration-500"
                    x-transition:leave-start="translate-x-0"
                    x-transition:leave-end="translate-x-full"
                    x-ref="settingsPanel"
                    tabindex="-1"
                    x-show="isSettingsPanelOpen"
                    @keydown.escape="isSettingsPanelOpen = false"
                    class="fixed inset-y-0 right-0 z-20 w-full max-w-xs bg-white shadow-xl focus:outline-none dark:bg-darker dark:text-light sm:max-w-md"
                    aria-labelledby="settinsPanelLabel"
                >
                    <div class="absolute left-0 -translate-x-full transform p-2">
                        <!-- Close button -->
                        <button
                            @click="isSettingsPanelOpen = false"
                            class="rounded-md p-2 text-white focus:outline-none focus:ring"
                        >
                            <svg
                                class="h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>
                    <!-- Panel content -->
                    <div class="flex h-screen flex-col">
                        <!-- Panel header -->
                        <div
                            class="flex flex-shrink-0 flex-col items-center justify-center space-y-4 border-b px-4 py-8 dark:border-primary-dark"
                        >
                            <span aria-hidden="true" class="text-gray-500 dark:text-primary">
                                <svg
                                    class="h-8 w-8"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                                    />
                                </svg>
                            </span>
                            <h2 id="settinsPanelLabel" class="text-xl font-medium text-gray-500 dark:text-light">
                                Settings
                            </h2>
                        </div>
                        <!-- Content -->
                        <div class="flex-1 overflow-hidden hover:overflow-y-auto">
                            <!-- Theme -->
                            <div class="space-y-4 p-4 md:p-8">
                                <h6 class="text-lg font-medium text-gray-400 dark:text-light">Mode</h6>
                                <div class="flex items-center space-x-8">
                                    <!-- Light button -->
                                    <button
                                        @click="setLightTheme"
                                        class="flex items-center justify-center space-x-4 rounded-md border px-4 py-2 transition-colors hover:border-gray-900 hover:text-gray-900 focus:outline-none focus:ring focus:ring-primary-lighter focus:ring-offset-2 dark:border-primary dark:hover:border-primary-light dark:hover:text-primary-100 dark:focus:ring-primary-dark dark:focus:ring-offset-dark"
                                        :class="{ 'border-gray-900 text-gray-900 dark:border-primary-light dark:text-primary-100': !isDark, 'text-gray-500 dark:text-primary-light': isDark }"
                                    >
                                        <span>
                                            <svg
                                                class="h-6 w-6"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
                                                />
                                            </svg>
                                        </span>
                                        <span>Light</span>
                                    </button>

                                    <!-- Dark button -->
                                    <button
                                        @click="setDarkTheme"
                                        class="flex items-center justify-center space-x-4 rounded-md border px-4 py-2 transition-colors hover:border-gray-900 hover:text-gray-900 focus:outline-none focus:ring focus:ring-primary-lighter focus:ring-offset-2 dark:border-primary dark:hover:border-primary-light dark:hover:text-primary-100 dark:focus:ring-primary-dark dark:focus:ring-offset-dark"
                                        :class="{ 'border-gray-900 text-gray-900 dark:border-primary-light dark:text-primary-100': isDark, 'text-gray-500 dark:text-primary-light': !isDark }"
                                    >
                                        <span>
                                            <svg
                                                class="h-6 w-6"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
                                                />
                                            </svg>
                                        </span>
                                        <span>Dark</span>
                                    </button>
                                </div>
                            </div>

                            <!-- Colors -->
                            <div class="space-y-4 p-4 md:p-8">
                                <h6 class="text-lg font-medium text-gray-400 dark:text-light">Colors</h6>
                                <div>
                                    <button
                                        @click="setColors('cyan')"
                                        class="h-10 w-10 rounded-full"
                                        style="background-color: var(--color-cyan)"
                                    ></button>
                                    <button
                                        @click="setColors('teal')"
                                        class="h-10 w-10 rounded-full"
                                        style="background-color: var(--color-teal)"
                                    ></button>
                                    <button
                                        @click="setColors('green')"
                                        class="h-10 w-10 rounded-full"
                                        style="background-color: var(--color-green)"
                                    ></button>
                                    <button
                                        @click="setColors('fuchsia')"
                                        class="h-10 w-10 rounded-full"
                                        style="background-color: var(--color-fuchsia)"
                                    ></button>
                                    <button
                                        @click="setColors('blue')"
                                        class="h-10 w-10 rounded-full"
                                        style="background-color: var(--color-blue)"
                                    ></button>
                                    <button
                                        @click="setColors('violet')"
                                        class="h-10 w-10 rounded-full"
                                        style="background-color: var(--color-violet)"
                                    ></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Notification panel -->
                <!-- Backdrop -->
                <div
                    x-transition:enter="transition duration-300 ease-in-out"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="transition duration-300 ease-in-out"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    x-show="isNotificationsPanelOpen"
                    @click="isNotificationsPanelOpen = false"
                    class="fixed inset-0 z-10 bg-primary-darker"
                    style="opacity: 0.5"
                    aria-hidden="true"
                ></div>
                <!-- Panel -->
                <section
                    x-transition:enter="transition duration-300 ease-in-out transform sm:duration-500"
                    x-transition:enter-start="-translate-x-full"
                    x-transition:enter-end="translate-x-0"
                    x-transition:leave="transition duration-300 ease-in-out transform sm:duration-500"
                    x-transition:leave-start="translate-x-0"
                    x-transition:leave-end="-translate-x-full"
                    x-ref="notificationsPanel"
                    x-show="isNotificationsPanelOpen"
                    @keydown.escape="isNotificationsPanelOpen = false"
                    tabindex="-1"
                    aria-labelledby="notificationPanelLabel"
                    class="fixed inset-y-0 z-20 w-full max-w-xs bg-white focus:outline-none dark:bg-darker dark:text-light sm:max-w-md"
                >
                    <div class="absolute right-0 translate-x-full transform p-2">
                        <!-- Close button -->
                        <button
                            @click="isNotificationsPanelOpen = false"
                            class="rounded-md p-2 text-white focus:outline-none focus:ring"
                        >
                            <svg
                                class="h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>
                    <div class="flex h-screen flex-col" x-data="{ activeTabe: 'action' }">
                        <!-- Panel header -->
                        <div class="flex-shrink-0">
                            <div
                                class="flex items-center justify-between border-b px-4 pt-4 dark:border-primary-darker"
                            >
                                <h2 id="notificationPanelLabel" class="pb-4 font-semibold">Notifications</h2>
                                <div class="space-x-2">
                                    <button
                                        @click.prevent="activeTabe = 'action'"
                                        class="translate-y-px transform border-b px-px pb-4 transition-all duration-200 focus:outline-none"
                                        :class="{'border-primary-dark dark:border-primary': activeTabe == 'action', 'border-transparent': activeTabe != 'action'}"
                                    >
                                        Action
                                    </button>
                                    <button
                                        @click.prevent="activeTabe = 'user'"
                                        class="translate-y-px transform border-b px-px pb-4 transition-all duration-200 focus:outline-none"
                                        :class="{'border-primary-dark dark:border-primary': activeTabe == 'user', 'border-transparent': activeTabe != 'user'}"
                                    >
                                        User
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Panel content (tabs) -->
                        <div class="flex-1 overflow-y-hidden pt-4 hover:overflow-y-auto">
                            <!-- Action tab -->
                            <div class="space-y-4" x-show.transition.in="activeTabe == 'action'">
                                <a href="#" class="block">
                                    <div class="flex space-x-4 px-4">
                                        <div class="relative flex-shrink-0">
                                            <span
                                                class="z-10 inline-block overflow-visible rounded-full bg-primary-50 p-2 text-primary-light dark:bg-primary-darker"
                                            >
                                                <svg
                                                    class="h-7 w-7"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke="currentColor"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                                                    />
                                                </svg>
                                            </span>
                                            <div
                                                class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                            ></div>
                                        </div>
                                        <div class="flex-1 overflow-hidden">
                                            <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                                New project "KWD Dashboard" created
                                            </h5>
                                            <p
                                                class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                            >
                                                Looks like there might be a new theme soon
                                            </p>
                                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                9h ago
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="block">
                                    <div class="flex space-x-4 px-4">
                                        <div class="relative flex-shrink-0">
                                            <span
                                                class="inline-block overflow-visible rounded-full bg-primary-50 p-2 text-primary-light dark:bg-primary-darker"
                                            >
                                                <svg
                                                    class="h-7 w-7"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke="currentColor"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                                                    />
                                                </svg>
                                            </span>
                                            <div
                                                class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                            ></div>
                                        </div>
                                        <div class="flex-1 overflow-hidden">
                                            <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                                KWD Dashboard v0.0.2 was released
                                            </h5>
                                            <p
                                                class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                            >
                                                Successful new version was released
                                            </p>
                                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                2d ago
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <template x-for="i in 20" x-key="i">
                                    <a href="#" class="block">
                                        <div class="flex space-x-4 px-4">
                                            <div class="relative flex-shrink-0">
                                                <span
                                                    class="inline-block overflow-visible rounded-full bg-primary-50 p-2 text-primary-light dark:bg-primary-darker"
                                                >
                                                    <svg
                                                        class="h-7 w-7"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        stroke="currentColor"
                                                    >
                                                        <path
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                                                        />
                                                    </svg>
                                                </span>
                                                <div
                                                    class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                                ></div>
                                            </div>
                                            <div class="flex-1 overflow-hidden">
                                                <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                                    New project "KWD Dashboard" created
                                                </h5>
                                                <p
                                                    class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                                >
                                                    Looks like there might be a new theme soon
                                                </p>
                                                <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                    9h ago
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </template>
                            </div>

                            <!-- User tab -->
                            <div class="space-y-4" x-show.transition.in="activeTabe == 'user'">
                                <a href="#" class="block">
                                    <div class="flex space-x-4 px-4">
                                        <div class="relative flex-shrink-0">
                                            <span class="rounded-ful relative z-10 inline-block overflow-visible">
                                                <img
                                                    class="h-9 w-9 rounded-full object-cover"
                                                    src="build/images/avatar.jpg"
                                                    alt="Ahmed kamel"
                                                />
                                            </span>
                                            <div
                                                class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                            ></div>
                                        </div>
                                        <div class="flex-1 overflow-hidden">
                                            <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                                Ahmed Kamel
                                            </h5>
                                            <p
                                                class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                            >
                                                Shared new project "K-WD Dashboard"
                                            </p>
                                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                1d ago
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="block">
                                    <div class="flex space-x-4 px-4">
                                        <div class="relative flex-shrink-0">
                                            <span class="rounded-ful relative z-10 inline-block overflow-visible">
                                                <img
                                                    class="h-9 w-9 rounded-full object-cover"
                                                    src="build/images/avatar-1.jpg"
                                                    alt="Ahmed kamel"
                                                />
                                            </span>
                                            <div
                                                class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                            ></div>
                                        </div>
                                        <div class="flex-1 overflow-hidden">
                                            <h5 class="text-sm font-semibold text-gray-600 dark:text-light">John</h5>
                                            <p
                                                class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                            >
                                                Commit new changes to K-WD Dashboard project.
                                            </p>
                                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                10h ago
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="block">
                                    <div class="flex space-x-4 px-4">
                                        <div class="relative flex-shrink-0">
                                            <span class="rounded-ful relative z-10 inline-block overflow-visible">
                                                <img
                                                    class="h-9 w-9 rounded-full object-cover"
                                                    src="build/images/avatar.jpg"
                                                    alt="Ahmed kamel"
                                                />
                                            </span>
                                            <div
                                                class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                            ></div>
                                        </div>
                                        <div class="flex-1 overflow-hidden">
                                            <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                                Ahmed Kamel
                                            </h5>
                                            <p
                                                class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                            >
                                                Release new version "K-WD Dashboard"
                                            </p>
                                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                20d ago
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <template x-for="i in 10" x-key="i">
                                    <a href="#" class="block">
                                        <div class="flex space-x-4 px-4">
                                            <div class="relative flex-shrink-0">
                                                <span class="rounded-ful relative z-10 inline-block overflow-visible">
                                                    <img
                                                        class="h-9 w-9 rounded-full object-cover"
                                                        src="build/images/avatar.jpg"
                                                        alt="Ahmed kamel"
                                                    />
                                                </span>
                                                <div
                                                    class="absolute left-1/2 -ml-px -mt-3 h-24 bg-primary-50 p-px dark:bg-primary-darker"
                                                ></div>
                                            </div>
                                            <div class="flex-1 overflow-hidden">
                                                <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                                    Ahmed Kamel
                                                </h5>
                                                <p
                                                    class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter"
                                                >
                                                    Release new version "K-WD Dashboard"
                                                </p>
                                                <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                                    20d ago
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </template>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Search panel -->
                <!-- Backdrop -->
                <div
                    x-transition:enter="transition duration-300 ease-in-out"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="transition duration-300 ease-in-out"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    x-show="isSearchPanelOpen"
                    @click="isSearchPanelOpen = false"
                    class="fixed inset-0 z-10 bg-primary-darker"
                    style="opacity: 0.5"
                    aria-hidden="ture"
                ></div>
                <!-- Panel -->
                <section
                    x-transition:enter="transition duration-300 ease-in-out transform sm:duration-500"
                    x-transition:enter-start="-translate-x-full"
                    x-transition:enter-end="translate-x-0"
                    x-transition:leave="transition duration-300 ease-in-out transform sm:duration-500"
                    x-transition:leave-start="translate-x-0"
                    x-transition:leave-end="-translate-x-full"
                    x-show="isSearchPanelOpen"
                    @keydown.escape="isSearchPanelOpen = false"
                    class="fixed inset-y-0 z-20 w-full max-w-xs bg-white shadow-xl focus:outline-none dark:bg-darker dark:text-light sm:max-w-md"
                >
                    <div class="absolute right-0 translate-x-full transform p-2">
                        <!-- Close button -->
                        <button
                            @click="isSearchPanelOpen = false"
                            class="rounded-md p-2 text-white focus:outline-none focus:ring"
                        >
                            <svg
                                class="h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>

                    <h2 class="sr-only">Search panel</h2>
                    <!-- Panel content -->
                    <div class="flex h-screen flex-col">
                        <!-- Panel header (Search input) -->
                        <div
                            class="relative flex-shrink-0 border-b px-4 py-8 text-gray-400 focus-within:text-gray-700 dark:border-primary-darker dark:focus-within:text-light"
                        >
                            <span class="absolute inset-y-0 inline-flex items-center px-4">
                                <svg
                                    class="h-5 w-5"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                    />
                                </svg>
                            </span>
                            <input
                                x-ref="searchInput"
                                type="text"
                                class="w-full rounded-full border py-2 pl-10 pr-4 focus:outline-none focus:ring dark:border-transparent dark:bg-dark dark:text-light"
                                placeholder="Search..."
                            />
                        </div>

                        <!-- Panel content (Search result) -->
                        <div class="h flex-1 space-y-4 overflow-y-hidden px-4 pb-4 hover:overflow-y-auto">
                            <h3 class="py-2 text-sm font-semibold text-gray-600 dark:text-light">History</h3>
                            <a href="#" class="flex space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="h-10 w-10 rounded-lg" src="build/images/cover.jpg" alt="Post cover" />
                                </div>
                                <div class="max-w-xs flex-1 overflow-hidden">
                                    <h4 class="text-sm font-semibold text-gray-600 dark:text-light">Header</h4>
                                    <p class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter">
                                        Lorem ipsum dolor, sit amet consectetur.
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                        Post
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="flex space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="h-10 w-10 rounded-lg" src="build/images/avatar.jpg" alt="Ahmed Kamel" />
                                </div>
                                <div class="max-w-xs flex-1 overflow-hidden">
                                    <h4 class="text-sm font-semibold text-gray-600 dark:text-light">Ahmed Kamel</h4>
                                    <p class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter">
                                        Last activity 3h ago.
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                        Offline
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="flex space-x-4">
                                <div class="flex-shrink-0">
                                    <img
                                        class="h-10 w-10 rounded-lg"
                                        src="build/images/cover-2.jpg"
                                        alt="K-WD Dashboard"
                                    />
                                </div>
                                <div class="max-w-xs flex-1 overflow-hidden">
                                    <h4 class="text-sm font-semibold text-gray-600 dark:text-light">K-WD Dashboard</h4>
                                    <p class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                        Updated 3h ago.
                                    </span>
                                </div>
                            </a>
                            <template x-for="i in 10" x-key="i">
                                <a href="#" class="flex space-x-4">
                                    <div class="flex-shrink-0">
                                        <img
                                            class="h-10 w-10 rounded-lg"
                                            src="build/images/cover-3.jpg"
                                            alt="K-WD Dashboard"
                                        />
                                    </div>
                                    <div class="max-w-xs flex-1 overflow-hidden">
                                        <h4 class="text-sm font-semibold text-gray-600 dark:text-light">
                                            K-WD Dashboard
                                        </h4>
                                        <p class="truncate text-sm font-normal text-gray-400 dark:text-primary-lighter">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        </p>
                                        <span class="text-sm font-normal text-gray-400 dark:text-primary-light">
                                            Updated 3h ago.
                                        </span>
                                    </div>
                                </a>
                            </template>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {{> before-script}}
        <script type="module" src="{{ resolve-from-root '../js/main.js' }}"></script>
        {{> after-script}}

        <script type="module">
            window.Alpine && window.Alpine.start()
        </script>
    </body>
</html>
