{{#> layouts/base pageTitle='Two Columns Sidebar'}}

{{#*inline "styles"}}{{/inline}}

<div
    x-data="layout"
    x-resize.document="watchScreen"
    class="flex h-screen bg-gray-100 text-gray-900 antialiased dark:bg-dark dark:text-light"
>
    <!-- Sidebar first column -->
    <!-- Backdrop -->
    <!-- <div
        x-show="isSidebarOpen"
        @click="isSidebarOpen = false"
        class="fixed inset-0 z-10 bg-primary-darker lg:hidden"
        style="opacity: 0.5"
        aria-hidden="true"
    ></div> -->

    <aside
        x-show="isSidebarOpen"
        x-transition:enter="transition-all transform duration-300 ease-in-out"
        x-transition:enter-start="-translate-x-full opacity-0"
        x-transition:enter-end="translate-x-0 opacity-100"
        x-transition:leave="transition-all transform duration-300 ease-in-out"
        x-transition:leave-start="translate-x-0 opacity-100"
        x-transition:leave-end="-translate-x-full opacity-0"
        x-ref="sidebar"
        @keydown.escape="window.innerWidth <= 1024 ? isSidebarOpen = false : ''"
        tabindex="-1"
        class="fixed inset-y-0 z-10 w-64 flex-shrink-0 border-r bg-white focus:outline-none dark:border-primary-darker dark:bg-darker lg:static"
    >
        <div class="flex h-full flex-col">
            <!-- Sidebar links -->
            <nav aria-label="Main" class="flex-1 space-y-2 overflow-y-hidden px-2 py-4 hover:overflow-y-auto">
                {{> partials/navigation-links group='Layouts' activeLink='Two columns sidebar' }}
            </nav>

            <!-- Sidebar footer -->
            <div class="relative flex flex-shrink-0 items-center justify-center space-x-4 px-2 py-4">
                <!-- Search button -->
                {{#btn
                    variant="primary-light"
                    srText="Open search panel"
                    icon="tabler--search"
                    iconSizeClasses="h-7 w-7"
                    attrs='@click="openSearchPanel"'



                }}{{/btn}}

                <!-- User avatar button -->
                <div x-dropdown>
                    {{#btn
                        variant="transparent"
                        srText="User menu"
                        className="p-0"
                        attrs='x-dropdown:trigger'
                    }}
                    <img class="h-12 w-12 rounded-md" src="/images/avatar.jpeg" alt="Ahmed Kamel" />
                    {{/btn}}

                    <!-- User dropdown menu -->
                    <div
                        x-dropdown:menu
                        class="left-5 right-5 min-w-max max-w-xs rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-dark"
                    >
                        <a
                            href="#"
                            role="menuitem"
                            class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Your Profile
                        </a>
                        <a
                            href="#"
                            role="menuitem"
                            class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Settings
                        </a>
                        <a
                            href="#"
                            role="menuitem"
                            class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Logout
                        </a>
                    </div>
                </div>

                <!-- Settings button -->
                {{#btn
                    variant="primary-light"
                    srText="Open settings panel"
                    icon="tabler--settings"
                    iconSizeClasses="h-7 w-7"
                    attrs='@click="$store.settings.panel.open()"'



                }}{{/btn}}
            </div>
        </div>
    </aside>

    <!-- Second column -->
    <!-- Backdrop -->
    <div
        x-show="isSecondSidebarOpen"
        @click="isSecondSidebarOpen = false"
        class="fixed inset-0 z-10 bg-primary-darker lg:hidden"
        style="opacity: 0.5"
        aria-hidden="true"
    ></div>

    <section
        x-show="isSecondSidebarOpen"
        x-transition:enter="transition-all transform duration-300 ease-in-out"
        x-transition:enter-start="-translate-x-full opacity-0"
        x-transition:enter-end="translate-x-0 opacity-100"
        x-transition:leave="transition-all transform duration-300 ease-in-out"
        x-transition:leave-start="translate-x-0 opacity-100"
        x-transition:leave-end="-translate-x-full opacity-0"
        x-ref="secondSidebar"
        @keydown.escape="window.innerWidth <= 1024 ? isSecondSidebarOpen = false : ''"
        tabindex="-1"
        class="fixed inset-y-0 z-10 w-64 flex-shrink-0 border-r bg-white focus:outline-none dark:border-primary-darker dark:bg-darker lg:static"
        aria-labelledby="secondSidebarHeader"
    >
        <div class="flex h-screen flex-col">
            <!-- Panel header -->
            <div class="flex-shrink-0">
                <div class="flex items-center justify-between border-b px-4 py-3 dark:border-primary-darker">
                    <h2 id="secondSidebarHeader" class="font-semibold">Header</h2>

                    {{#btn
                        variant="primary-light"
                        srText="Toggle second sidebar panel"
                        className="p-1 lg:hidden"
                        attrs='@click="isSecondSidebarOpen = false"'
                    }}
                    <span aria-hidden="true" class="iconify h-8 w-8 tabler--x"></span>
                    {{/btn}}
                </div>
            </div>

            <!-- Panel content -->
            <div class="flex-1 overflow-y-hidden pt-4 hover:overflow-y-auto">
                <div class="space-y-4">
                    <!-- Content -->
                    <p class="px-4">Content</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sidebar buttons -->
    <div class="fixed right-10 top-5 flex items-center gap-4 lg:hidden">
        {{#btn
            variant="primary-light"
            srText="Toggle main manu"
            className="p-1"
            attrs='@click="isSidebarOpen = !isSidebarOpen; $nextTick(() => { $refs.sidebar?.focus() })"'
        }}
        <span x-show="!isSidebarOpen" aria-hidden="true" class="iconify h-8 w-8 tabler--menu-3"></span>
        <span x-show="isSidebarOpen" aria-hidden="true" class="iconify h-8 w-8 tabler--x"></span>
        {{/btn}}

        {{#btn
            variant="primary-light"
            srText="Toggle second sidebar panel"
            className="p-1"
            attrs='@click="isSecondSidebarOpen = true; $nextTick(() => { $refs.secondSidebar.focus() })"'
        }}
        <span
            aria-hidden="true"
            class="iconify h-8 w-8 transition-transform tabler--chevron-right"
            :class="{ 'rotate-180': isSecondSidebarOpen }"
        ></span>
        {{/btn}}
    </div>

    <!-- Main content -->
    <main class="flex-1">
        <div
            class="flex h-full min-h-screen flex-1 flex-col items-center justify-center overflow-y-auto overflow-x-hidden p-4"
        >
            <h1 class="mb-4 text-center text-2xl font-semibold md:text-3xl">Two Columns - Sidebar</h1>
            <div class="space-y-4">
                <div class="relative flex h-72 w-80 space-x-1 bg-white p-1 shadow-md dark:bg-darker">
                    <div class="h-full w-16 bg-gray-200 dark:bg-dark"></div>
                    <div class="h-full w-16 bg-gray-200 dark:bg-dark"></div>
                    <div class="h-full flex-1 bg-gray-100 dark:bg-dark"></div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Panels -->

<!-- Settings Panel -->
{{> partials/panels/settings }}

<!-- Notification panel -->
{{> partials/panels/notifications }}

<!-- Search panel -->
{{> partials/panels/search }}

{{#*inline "before-script"}}
<script>
    function layout() {
        return {
            watchScreen() {
                if (window.innerWidth <= 1024) {
                    this.isSidebarOpen = false
                    this.isSecondSidebarOpen = false
                } else if (window.innerWidth >= 1024) {
                    this.isSidebarOpen = true
                    this.isSecondSidebarOpen = true
                }
            },
            isSidebarOpen: window.innerWidth >= 1024 ? true : false,
            toggleSidbarMenu() {
                this.isSidebarOpen = !this.isSidebarOpen
            },
            isSecondSidebarOpen: window.innerWidth >= 1024 ? true : false,
            toggleSecondSidbarColumn() {
                this.isSecondSidebarOpen = !this.isSecondSidebarOpen
            },
        }
    }
</script>
{{/inline}}

{{#*inline "after-script"}}{{/inline}}

{{/layouts/base}}
