<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="K-WD - clean and simple Dashboard template.">
    <meta name="keywords" content="admin, dashboard, template, tailwindcss, alpinejs, vuejs, html, clean">
    <meta name="author" content="Ahmed Kamel">
    <link rel="icon" href="assets/images/favicon.ico">
    <title>K-WD Dashboard template{{ ' | ' + pageTitle if pageTitle }}</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
  {% block content %}{% endblock %}
  <script src="assets/js/app.js"></script>
</body>
</html>